In [153]:
import pandas as pd
import numpy as np
import plotly.plotly as py
import plotly.graph_objs as go

from plotly.offline import iplot, init_notebook_mode
import cufflinks
cufflinks.go_offline(connected=True)
init_notebook_mode(connected=True)

from datetime import datetime

## Import Data into DataFrame

In [154]:
df = pd.read_csv('advertising-and-sales-data-36-co.csv')

In [155]:
df.head()

  Month  Advertising  Sales
0  1-01         12.0   15.0
1  1-02         20.5   16.0
2  1-03         21.0   18.0
3  1-04         15.5   27.0
4  1-05         15.3   21.0

## Rename column from Sales to Converstion (more relevant to website usage)

In [157]:
df.rename(columns={'Sales': 'Conversions'}, inplace=True)

## Reformat the 'Month' column to include year (so that x axis would be more descriptive instead of just whole integers)

In [159]:
df['Month_date'] = df['Month'].apply(lambda x: x[2:] + '-01')

In [160]:
df['Month_date'][0:12] = df['Month_date'][0:12].apply(lambda x: x + '-2016')
df['Month_date'][12:24] = df['Month_date'][12:24].apply(lambda x: x + '-2017')
df['Month_date'][24:] = df['Month_date'][24:].apply(lambda x: x + '-2018')

## Take a peak at df

In [161]:
df

                                                Month                        ...                                                                 Month_date
0                                                1-01                        ...                                                                 01-01-2016
1                                                1-02                        ...                                                                 02-01-2016
2                                                1-03                        ...                                                                 03-01-2016
3                                                1-04                        ...                                                                 04-01-2016
4                                                1-05                        ...                                                                 05-01-2016
5                                                1-06                        ...                                                                 06-01-2016
6                                                1-07                        ...                                                                 07-01-2016
7                                                1-08                        ...                                                                 08-01-2016
8                                                1-09                        ...                                                                 09-01-2016
9                                                1-10                        ...                                                                 10-01-2016
10                                               1-11                        ...                                                                 11-01-2016
11                                               1-12                        ...                                                                 12-01-2016
12                                               2-01                        ...                                                                 01-01-2017
13                                               2-02                        ...                                                                 02-01-2017
14                                               2-03                        ...                                                                 03-01-2017
15                                               2-04                        ...                                                                 04-01-2017
16                                               2-05                        ...                                                                 05-01-2017
17                                               2-06                        ...                                                                 06-01-2017
18                                               2-07                        ...                                                                 07-01-2017
19                                               2-08                        ...                                                                 08-01-2017
20                                               2-09                        ...                                                                 09-01-2017
21                                               2-10                        ...                                                                 10-01-2017
22                                               2-11                        ...                                                                 11-01-2017
23                                               2-12                        ...                                                                 12-01-2017
24                                               3-01                        ...                                                                 01-01-2018
25                                               3-02                        ...                                                                 02-01-2018
26                                               3-03                        ...                                                                 03-01-2018
27                                               3-04                        ...                                                                 04-01-2018
28                                               3-05                        ...                                                                 05-01-2018
29                                               3-06                        ...                                                                 06-01-2018
30                                               3-07                        ...                                                                 07-01-2018
31                                               3-08                        ...                                                                 08-01-2018
32                                               3-09                        ...                                                                 09-01-2018
33                                               3-10                        ...                                                                 10-01-2018
34                                               3-11                        ...                                                                 11-01-2018
35                                               3-12                        ...                                                                 12-01-2018
36  Advertising and sales data: 36 consecutive mon...                        ...                          vertising and sales data: 36 consecutive month...

[37 rows x 4 columns]

In [162]:
type(df['Month_date'][0])

str

In [163]:
df.columns

Index(['Month', 'Advertising', 'Conversions', 'Month_date'], dtype='object')

## Working with graph_objects

In [164]:
line_graph = go.Line(x=df['Month_date'], y=df['Conversions'], marker={'color': 'blue', 'symbol': 100, 'size': 10}, 
                    mode="markers+lines", name='Conversions')
                                               
data=go.Data([line_graph])
layout=go.Layout(title="Conversions",plot_bgcolor='black', xaxis={'title':'Month/Yr'}, yaxis={'title':'Conversions'})
figure=go.Figure(data=data,layout=layout)
py.iplot(figure)

## See all themes to choose from

In [158]:
cufflinks.getThemes()

['ggplot', 'pearl', 'solar', 'space', 'white', 'polar', 'henanigans']

## Working directly through .iplot

In [171]:
df[['Conversions', 'Advertising', 'Month_date']].iplot(kind   ='line',
                                                       x      ='Month_date',
                                                       keys   =['Conversions', 'Advertising'],
                                                       title  ='Conversions vs. Advertising Spending',
                                                       xTitle ='Month',
                                                       yTitle ='Conversions',
                                                       dash   =['solid','dash'],
                                                       colors =['blue', 'orange'],
                                                       theme  ='henanigans',
                                                       mode   ='lines+markers+text',
                                                       symbol ='diamond',
                                                       size   =6,
                                                       fill   =True)